{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ meal['title'] }}{% endblock %}</h1>
    <a class="action" href="{{ url_for('meals.update', meal_id=meal['id']) }}">Edit</a>
{% endblock %}

{% block content %}
    <article class="post">
        <header>
            <div class="about">by {{ meal['author_ID'] }}
            </div>
        </header>

        <table class="table table-hover">
            <caption>MEAL INFO (per serving)</caption>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Carbs (g)</th>
                <th scope="col">Fat (g)</th>
                <th scope="col">Protein (g)</th>
                <th scope="col">Calories</th>
                <th scope="col">Price</th>
            </tr>
            </thead>

            <tbody>
            {% for recipe in recipes %}
                <tr>
                <th scope="row">{{ recipe['title'] }}</th>
                <td>{{ macros[loop.index0][0] }} </td>
                <td>{{ macros[loop.index0][1] }}</td>
                <td>{{ macros[loop.index0][2] }}</td>
                <td>{{ macros[loop.index0][3] }}</td>
                <td>${{ prices[loop.index0] }}</td>
            {% endfor %}
            </tr>
            <tr>
            <tr>
                <th scope="row" bgcolor=#fffaf0>TOTAL</th>
                <td bgcolor=#fffaf0><strong>{{ macro_totals[0] }}</strong></td>
                <td bgcolor=#fffaf0><strong>{{ macro_totals[1] }}</strong></td>
                <td bgcolor=#fffaf0><strong>{{ macro_totals[2] }}</strong></td>
                <td bgcolor=#fffaf0><strong>{{ macro_totals[3] }}</strong></td>
                <td bgcolor=#fffaf0><strong>${{ total_price }}</strong></td>
            </tr>
            </tbody>
        </table>

        <i>Serves {{ servings }}</i>

        <div><br/> <b>Tag:</b>
            {% if meal['tag'] == "meal_prep" %} Meal Prep
            {% elif meal['tag'] == "easy" %} Quick & Easy
            {% elif meal['tag'] == "weekend" %} Weekend cooking
            {% elif meal['tag'] == "brunch" %} Brunch
            {% elif meal['tag'] == "other" %} Other
            {% endif %}
        </div>

        {% if meal['notes'] != "" %}
            <h4>Notes:</h4>
            <p class="body">{{ meal['notes'] }}</p>
        {% endif %}

    </article>

    <form action="{{ url_for('meals.delete', name_key=meal['id']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}
