{% extends 'base.html' %}

<head>
    <script src="https://kit.fontawesome.com/51ded972e6.js" crossorigin="anonymous"></script>
</head>
{% block header %}
    <h1>{% block title %}Ingredients{% endblock %}</h1>

    <a class="action" href="{{ url_for('ingredients.create') }}">Add ingredient</a>

{% endblock %}

{% block content %}
     {% if not g.user %}
         <br/>
        You are on view mode because you are not logged in. Please <a class="action"
                                            href="{{ url_for('ingredients.create') }}">log in</a> to be able to add/edit ingredients.<br/><br/>
    {% endif %}
    <div style="overflow-x:auto;">
        <table class="table table-striped table-hover">
            <thead class="thead-light">
            <tr>
                {% for tag in tags %}

                    {% if tag == "carbs" %}
                        <th scope='col'>Grains, Starches, & Sugars</th>
                    {% elif tag == "fats" %}
                        <th scope='col'>Fats, Oils, & Spreads</th>
                    {% elif tag == "proteins" %}
                        <th scope='col'>Proteins</th>
                    {% elif tag == "vegetables" %}
                        <th scope='col'>Veggies</th>
                    {% elif tag == "legumes" %}
                        <th scope='col'>Legumes</th>
                    {% elif tag == "fruit" %}
                        <th scope='col'> Fruits</th>
                    {% elif tag == "nuts" %}
                        <th scope='col'>Seeds & Nuts</th>
                    {% elif tag == "sauces" %}
                        <th scope='col'>Sauces and Condiments</th>
                    {% elif tag == "dairy" %}
                        <th scope='col'>Dairy</th>
                    {% elif tag == "spices" %}
                        <th scope='col'>Spices</th>
                    {% elif tag == "others" %}
                        <th scope='col'>Others</th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>

            <tbody>
            {% for column in ingredients %}
                <tr>
                    {% for ing in column %}
                        {% if ing != None %}
                            <td><a class="action"
                                   href="{{ url_for('ingredients.update', name_key=ing['name_key']) }}">{{ ing['name'] }}</a>
                                <div class="tooltip"><img src="https://img.icons8.com/flat_round/12/000000/info.png">
                                    <span class="tooltiptext">
                                         Serving size: {{ ing['portion_size'] }} {{ ing['portion_size_unit'] }}
                                        <br><br>
                                        {% if ing['price'] % 100 == 0 %}
                                             ${{ (ing['price'] /100)|int }}.00 per
                                            {{ ing['price_size']|int }}{{ ing['price_size_unit'] }}
                                        {% elif ing['price'] % 10 == 0 %}
                                             ${{ (ing['price'] /100) }}0 per
                                            {{ ing['price_size']|int }}{{ ing['price_size_unit'] }}
                                        {% else %}
                                             ${{ ing['price']/100 }} per
                                            {{ ing['price_size']|int }}{{ ing['price_size_unit'] }}
                                        {% endif %}
                                        <br><br>
                                        <em> Protein</em>: {{ ing['protein'] }} g
                        <br><em> Fat</em>: {{ ing['fat'] }} g
                        <br> <em> Carbs</em>: {{ ing['carbs'] }} g

                                    </span>
                                </div>

                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

