{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}RECIPES (displayed chronologically){% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="/recipes/create">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for recipe in recipes %}
        <header>
            <div>
                <a class="action" href="{{ url_for('recipes.display_recipe', recipeID=recipe[1]) }}">{{ recipe[0] }}</a>
            </div>


        </header>

    {% endfor %}
{% endblock %}
