{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}RECIPES (displayed chronologically){% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="/recipes/create">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ post[0]['title'] }}</h1>
                    <div class="about">by {{ post[0]['author_ID'] }} </div>
                </div>

                <a class="action" href="{{ url_for('recipes.update', name_key=post[0]['id']) }}">Edit</a>

            </header>

            <table>
                <caption>INGREDIENTS</caption>
                <tr>
                    {% for ing in post[2] %}

                        <td style="background-color: lightgray">
                            {{ ing }}
                            {% if not loop.last %}
                                <br>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for ing in post[1] %}
                        <td>
                            {{ ing['quantity'] }} {{ ing['units'] }}
                            {% if not loop.last %}
                                <br>
                            {% endif %}
                        </td>
                    {% endfor %}

                </tr>
            </table>

            <br>
            <table class="table table-hover">
                <caption>NUTRITION (per serving)</caption>
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Carbs (g)</th>
                    <th scope="col">Fat (g)</th>
                    <th scope="col">Protein (g)</th>
                    <th scope="col">Calories</th>
                </tr>
                </thead>

                <tbody>
                {% for ing in post[2] %}
                    <tr>
                    <th scope="row">{{ ing }}</th>
                    <td>{{ post[3][loop.index0][0] }}</td>
                    <td>{{ post[3][loop.index0][1] }}</td>
                    <td>{{ post[3][loop.index0][2] }}</td>
                    <td>{{ post[3][loop.index0][3] }}</td>
                {% endfor %}
                </tr>
                <tr>
                <tr>
                    <th scope="row" bgcolor="#fffafa">TOTAL</th>
                    <td bgcolor=#fffafa"><strong>{{ post[4][0] }}</strong></td>
                    <td bgcolor=#fffafa"><strong>{{ post[4][1] }}</strong></td>
                    <td bgcolor=#fffafa"><strong>{{ post[4][2] }}</strong></td>
                    <td bgcolor=#fffafa"><strong>{{ post[4][3] }}</strong></td>
                </tr>
                </tbody>
            </table>

            <h4>Steps:</h4>
            <p class="body">{{ post[0]['body'] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
