{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit "{{ recipe['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">

        <label for="title">Title</label>
        <input name="title" id="title" value="{{ recipe['title'] }}" required>

        <style>
            #newlink {
                width: auto
            }
        </style>

        <div id="ing">
            {% for q in quantities %}

                <div id="ing{{ q }}" class="ingredient">
                    Ingredient #{{ q }}:
                    <select class="ing" style="width:200px;" id="ing{{ q }}">
                        {% for ing in ingredients %}
                            {% if prepop['ings'][q-1] == ing %}
                                <option selected="selected">{{ ing }}</option>
                            {% else %}
                                <option>{{ ing }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    Quantity:
                    <input id="quantity{{ q }}" value={{ prepop["quantity"][q-1] }} type="number"
                           min=".01" step=".01" value="{{ request.form['title'] }}" required>

                    Units:
                    <select name="portion_size_unit{{ q }}" id="portion_size_unit{{ q }}"
                            value="{{ request.form['portion_size_unit'] }}" required>

                        {% for unit in units %}
                            {% if prepop['units'][q-1] == unit %}
                                <option value={{ unit }} selected="selected">
                                    {% if unit == "g" %} Gram(s)
                                    {% elif unit == "kg" %} Kilogram(s)
                                    {% elif unit == "oz" %} Ounce(s)
                                    {% elif unit == "cup" %} Cup(s)
                                    {% elif unit == "ml" %} Milliliter(s)
                                    {% elif unit == "l" %} Liter(s)
                                    {% elif unit == "gal" %} Gallon(s)
                                    {% elif unit == "in" %} Inch(es)
                                    {% elif unit == "T" %} Tablespoon(s)
                                    {% elif unit == "t" %} Teaspoons(s)
                                    {% elif unit == "unit" %} Unit(s)
                                    {% else %} {{ unit }}(s)
                                    {% endif %}
                                </option>
                            {% else %}
                                <option value={{ unit }}>
                                    {% if unit == "g" %} Gram(s)
                                    {% elif unit == "kg" %} Kilogram(s)
                                    {% elif unit == "oz" %} Ounce(s)
                                    {% elif unit == "cup" %} Cup(s)
                                    {% elif unit == "ml" %} Milliliter(s)
                                    {% elif unit == "l" %} Liter(s)
                                    {% elif unit == "gal" %} Gallon(s)
                                    {% elif unit == "in" %} Inch(es)
                                    {% elif unit == "T" %} Tablespoon(s)
                                    {% elif unit == "t" %} Teaspoons(s)
                                    {% elif unit == "unit" %} Unit(s)
                                    {% else %} {{ unit }}(s)
                                    {% endif %}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <a href="javascript:newlink()">Add New </a>
                    <a href="javascript:delOriginal('ing{{ q }}')">Delete</a>
                </div>

                {% if loop.last %}
                    <div id="1"></div>
                {% endif %}
            {% endfor %}

            Number of servings:
            <input name="servings" id="servings" type="number" min="1" step="1" value="{{ recipe['servings'] }}"
                   required>
            <br>

        </div>
        <label for="body">Instructions</label>
        <textarea name="instructions" id="instructions">{{ recipe['body'] }}</textarea>
        <br/>
        <input type="button" value="Sussssbmit" onclick="handleSubmit(event)">
        <input type="reset" name="reset1">
    </form>

    <!-- Template for new ingredient-->
    <div id="newlinktpl" style="display:none">
        Ingredient: <select class="ing" style="width:200px;">
        {% for ing in ingredients %}
            <option>{{ ing }}</option>
        {% endfor %}
    </select>
        Quantity:
        <input class="quantity" type="number" min=".01" step=".01"
               value="{{ request.form['title'] }}" required>

        Units:
        <select class="portion_size_unit" value="{{ request.form['portion_size_unit'] }}" required>
            {% for unit in units %}
                <option value={{ unit }}>
                    {% if unit == "g" %} Gram(s)
                    {% elif unit == "kg" %} Kilogram(s)
                    {% elif unit == "oz" %} Ounce(s)
                    {% elif unit == "cup" %} Cup(s)
                    {% elif unit == "ml" %} Milliliter(s)
                    {% elif unit == "l" %} Liter(s)
                    {% elif unit == "gal" %} Gallon(s)
                    {% elif unit == "in" %} Inch(es)
                    {% elif unit == "T" %} Tablespoon(s)
                    {% elif unit == "t" %} Teaspoons(s)
                    {% elif unit == "unit" %} Unit(s)
                    {% else %} {{ unit }}(s)
                    {% endif %}
                </option>
            {% endfor %}
        </select>
    </div>

    <script type="text/javascript">

        var ct = 1;

        function newlink() {
            ct++;
            var div1 = document.createElement('div');
            div1.id = ct;
            div1.classList.add('ingredient');
            // link to delete extended form elements
            var delLink = '<a href="javascript:newlink()">Add New</a>  <a href="javascript:delIt(' + ct + ')">Delete</a>';
            div1.innerHTML = document.getElementById('newlinktpl').innerHTML + delLink;
            document.getElementById('1').appendChild(div1);
        }

        function delOriginal(eleId) {
            d = document;
            var ele = d.getElementById(eleId);
            var parentEle = d.getElementById('ing');
            parentEle.removeChild(ele);
        }

        // function to delete the newly added set of elements
        function delIt(eleId) {
            d = document;
            var ele = d.getElementById(eleId);
            var parentEle = d.getElementById('1');
            parentEle.removeChild(ele);
        }

        function handleSubmit(e) {

            e.preventDefault();
            var data = {};

            data.title = document.getElementById("title").value;
            data.servings = document.getElementById("servings").value;
            data.ingredients = [];
            data.instructions = document.getElementById("instructions").value;

            var ingredients = document.getElementsByClassName('ingredient');

            for (let ingredient of ingredients) {
                let ing = {};
                ing.ingName = ingredient.querySelector(".ing").value;
                ing.quantity = ingredient.querySelector(".quantity").value;
                ing.portion = ingredient.querySelector(".portion_size_unit").value;
                data.ingredients.push(ing);
            }

            fetch('/recipes/{{ pageId }}/update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify(data)
            });

            alert(JSON.stringify(data));

        }
    </script>
{% endblock %}

