<!doctype html>

<title>{% block title %}{% endblock %} - My Recipe Manager</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

<h1 style="color: #377ba8; font-size: 36px; font-family: 'Calisto MT'">My Recipe Manager</h1>
<nav>
    <h1>
        <div class="dropdown">
            <button class="dropbtn">Ingredients</button>
            <div class="dropdown-content">
                <a href={{ url_for('ingredients.index') }}>View All/Edit</a>
                <a href={{ url_for('ingredients.create') }}>Create New</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Recipes</button>
            <div class="dropdown-content">
                <a href={{ url_for('recipes.index') }}>View All/Edit</a>
                <a href={{ url_for('recipes.create') }}>Create New</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Meals</button>
            <div class="dropdown-content">
                <a href={{ url_for('meals.index') }}>View All/Edit</a>
                <a href={{ url_for('meals.create') }}>Create New</a>
            </div>
        </div>
    </h1>
    <ul>
        {% if g.user %}
            <li><span>{{ g.user['username'] }}</span>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
                {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a>
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </ul>
</nav>


<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('.js-example-basic-single').select2();
    });
</script>


